.bar
        display flex
        width 100%
        align-items center
        .imgBox
                width 0.8rem
                flex-shrink 0
                margin-right  0.1rem
                img
                        width 100%

        .nameBox
                color rgba(0, 0, 0, 0.8)
                flex-grow 1
                padding 0 0.1rem
                font-size 0.26rem
                font-weight 700
                white-space nowrap
                overflow hidden
                text-overflow ellipsis

        .btnBox
                flex-shrink 0
                width 0.15rem
                height 0.5rem
                background-image url("../next_black.png")
                background-size 100%
                background-position center
                background-repeat no-repeat
