.subContent
        background rgb(228, 228, 228)
        padding 0.3rem

        .floor
                background #fff
                margin-bottom 0.3rem
                border-radius 0.2rem
                box-shadow 0 1px 2px rgba(0, 0, 0, .1), 0 18px 20px -10px rgba(0, 0, 0, .03), 0 18px 20px -10px rgba(0, 0, 0, .03), 0 10px 20px -10px rgba(0, 0, 0, .03)

                .bar
                        border-bottom 0.01rem solid rgba(100, 100, 100, 0.1)
                        padding 0.4rem 0.3rem

                        a
                                display flex
                                align-items center

                                div:first-child
                                        flex-grow 1
                                        font-size 0.35rem
                                        color #333

                                div:nth-child(2)
                                        color rgb(150, 150, 150)
                                        font-size 0.27rem

                                div:last-child
                                        margin-left  0.2rem
                                        width 0.15rem
                                        height 0.3rem
                                        background-size 100%
                                        background-image url("./img/next_black.png");

                .msg-bar
                        display flex
                        align-items center
                        padding 0.3rem
                        border-bottom 0.01rem solid rgba(100, 100, 100, 0.2)

                        div:first-child
                                width 1.2rem
                                height 1.2rem
                                flex-shrink 0
                                border-radius 50%
                                background-size 100%
                                margin-right 0.2rem
                                background-image  url("./img/icon_user_avatar.png")

                        div:nth-child(2)
                                flex-grow 1
                                font-size 0.35rem
                                font-weight 500
                                color #333333

                        div:last-child
                                width 0.4rem
                                height 1rem
                                flex-shrink 0
                                background-size 100%
                                background-repeat no-repeat
                                background-position center
                                background-image url("./img/icon_edit.png")
        .btn
                width 100%
                height 1rem
                border-radius 0.15rem
                text-align center
                line-height 1rem
                font-size 0.3rem
                color #fff
                font-weight 700
                background-image linear-gradient(#db6962,#d0453d)