        .textEllipsis
                overflow hidden
                text-overflow ellipsis
                white-space nowrap
        .box>*
                margin-bottom 0.1rem
        .name
                font-weight 700
                color rgb(51, 51, 51)
        .title
                color rgb(127, 127, 127)
        .price
                & > *
                        color rgb(212, 77, 68)
                        font-weight 700