.title
        padding 0.2rem
        border-bottom 0.01rem solid rgba(0, 0, 0, 0.1)
        background #fff
        a
                display flex
                align-items center
                color rgb(127,127,127)
                .titleText
                        flex-grow 1
                        font-size 0.32rem
                        font-weight 700
                .productText
                        font-size 0.24rem
                        color #7f7f7f