        .content
                background #fff
                margin-bottom 0.2rem
        .avatar
                padding 0.3rem 0.2rem

                div
                        width 100%
                        height 25%
                        text-align center
                        box-shadow 0 10px 20px 2px rgba(100, 100, 100, 0.2)
                        font-size 0
                        border-radius 1.5rem
                        img
                                width 100%
                                height 100%


        .w50
                display flex
                flex-wrap wrap

                li
                        border-top 0.01rem solid rgba(0, 0, 0, 0.1)
                        width 50%
                        padding 0.2rem

        .w100 > li
                width 100%
                padding 0.2rem
                border-top 0.01rem solid rgba(0, 0, 0, 0.1)

        .template3
                display flex
                flex-wrap wrap
                justify-content space-between
                padding 0.2rem

                li
                        width 31.5%
                        margin-bottom 0.2rem

                        .imgBox
                                width 100%
                                border-radius 0.15rem
                                overflow hidden
                                border 0.01rem solid rgba(0, 0, 0, 0.1)
                                background-position center
                                background-size 65%
                                background-repeat no-repeat
                                img
                                        width 100%

                        .nameBox
                                text-align center
                                color rgba(0, 0, 0, 0.8)
                                font-size 0.2rem
                                padding 0.1rem 0
                                font-weight bold
                                white-space nowrap
                                overflow hidden
                                text-overflow ellipsis