.menu
        display flex
        height 100%

        .btn
                flex-grow 1
                height 100%

                a
                        width 100%
                        height 100%
                        display flex
                        flex-direction column
                        align-items center
                        justify-content center

                        img
                                width 0.5rem
                        img:nth-child(2)
                                display none
                        .img1
                                content: url('./img/footerMenu-1.png');

                        .img2
                                content: url('./img/footerMenu-2.png');

                        .img3
                                content: url('./img/footerMenu-3.png');

                        .img4
                                content: url('./img/footerMenu-4.png');

                        .activeImg1
                                content: url('./img/footerMenu-1-active.png');

                        .activeImg2
                                content: url('./img/footerMenu-2-active.png');

                        .activeImg3
                                content: url('./img/footerMenu-3-active.png');

                        .activeImg4
                                content: url('./img/footerMenu-4-active.png');

                        span
                                font-size 0.18rem
                                color rgba(102, 102, 102,0.5)
                                font-weight 700
.active
         box-shadow inset 0 0 20px 5px rgba(0, 0, 0, .1)
.active>img:nth-child(1)
        display none
.active>img:nth-child(2)
        display inline-block !important
.active > span
        color rgb(102, 102, 102)
