        .info
                position fixed
                left 50%
                bottom 1.5rem
                padding 0.2rem 0.3rem
                border-radius 0.1rem
                color rgb(153,107,61)
                overflow hidden
                border 0.02rem solid rgb(223,198,169)
                transform translateX(-50%)
                display inline-block
                background-color rgb(251,239,209)
                transition opacity 0.5s
                z-index 999

        .hide
                width 0
                height 0
                padding 0
                opacity 0
                border 0

        .active
                opacity 1